

<!DOCTYPE html>
<html lang="es">
    <head>
         
        <!-- Masthead..............................-->

            <form method="POST" enctype="multipart/form-data">
                {%csrf_token %}
                <input type="file" name="document" id="document"/>
                <br>
                <br>
                <input type="file" name="document2" id="document2"/>
                <br>
                <br>
                <input type="file" name="document3" id="document3"/>
                <br>
                <br>
                <input type="file" name="document4" id="document4"/>
                <br>
                <br>
                <input type="submit" value="Enviar datos"/>
            </form>
    
            <h1>archivo</h1>
            <textarea name="salida" id="salida" cols="80" rows="50" readonly>
            {{data}}
            </textarea>
               
         <!-- ------------------------------------------->
      


           
        </header>


                       
      
      
        
    </body>
</html>
