

<!DOCTYPE html>
<html lang="es">
    <head>
         
        <!-- Masthead..............................-->

            <form method="POST" enctype="multipart/form-data">
                {%csrf_token %}
                <h3>Clientes</h3>
                <input type="file" name="document" id="document"/>
               
                <h3>Mejores Clientes</h3>
                <input type="file" name="mclientes" id="mclientes"/>
            
                <h3>Juegos mas vendidos</h3>
                <input type="file" name="jv" id="jv"/>
                <h3>Juegos</h3>
                <input type="file" name="j" id="j"/>
                <br>
                <br>
                <input type="submit" value="Enviar datos"/>
            </form>
    
            <h1>archivo</h1>
            <textarea name="salida" id="salida" cols="80" rows="50" readonly>
            {{data}}
            </textarea>
               
         <!-- ------------------------------------------->
      


           
        </header>


                       
      
      
        
    </body>
</html>
